{% extends "base.html" %}

{% block header %}
    Confirm Delete: {{ cocktail.name }}
{% endblock %}

{% block main %}

    <style>
        .img-warning {
            max-width: 50px;
        }
    </style>

    <p>
        <img src="/static/warning.png" class="img-warning">
        Are you <em>sure</em> you want to delete <strong>{{ cocktail.name }}</strong>?
    </p>

    <p>
        <form action="/cocktail/delete/" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{cocktail.id}}" />
            <button>Confirm Delete</button>
        </form>
    </p>

{% endblock %}