{% extends "base.html" %}

{% block header %}
    {{ request.user|capfirst }}'s Cocktails
{% endblock %}

{% block main %}

    <style>
        .div-cocktail {
            max-width: 100px;
            margin: 30px 10px 5px 10px;
        }
        div.inline {
            float: left;
        }
        .clearBoth {
            clear: both;
        }
        .centered {
            text-align: center;
        }

        ul.pagination li {
            display: inline;
        }
    </style>

    {% for cocktail in cocktails %}

        <div class="inline div-cocktail">
            <a href="/cocktail/{{ cocktail.id }}/">
                <img src="{{ cocktail.image.url }}" class="img-cocktail"><br>
                <div class="centered">{{ cocktail.name }}</div>
            </a>
        </div>
    {% endfor %}
    <div class="clearBoth"></div>
    <br />
    
    {% if cocktails.has_other_pages %}
        <ul class="pagination">
        {% if cocktails.has_previous %}
            <li><a href="?page={{ cocktails.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in cocktails.paginator.page_range %}
            {% if cocktails.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if cocktails.has_next %}
            <li><a href="?page={{ cocktails.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
        </ul>
    {% endif %}
    

{% endblock %}