{% extends "base.html" %}

{% block header %}
    🍹 {{ cocktail.name }}
{% endblock %}

{% block main %}

    <style>
        td:nth-child(1) {
            white-space: nowrap;
        }
        .img-cocktail {
            max-width: 300px;
        }

    </style>

    <img src="{{ cocktail.image.url }}" class="img-cocktail">

    <table>

        <tbody>

        <tr>
            <td>Category</td>
            <td>{{ cocktail.category.name }}</td>
        </tr>

        <tr>
            <td>Alcoholic</td>
            <td>{{ cocktail.alcoholic|yesno|capfirst }}</td>
        </tr>

        <tr>
            <td>Glass</td>
            <td>{{ cocktail.glass.name }}</td>
        </tr>
        <tr>

            <td>Ingredients</td>
            <td>
                {% for i in ingredients %}
                    <ul>
                        <li>{{ i.measure.name }} {{ i.ingredient.name }}</li>
                    </ul>
                {% endfor %}
            </td>

            <tr>
                <td>Instructions</td>
                <td>{{ cocktail.instructions }}</td>
            </tr>

        </tbody>
    </table>

    <br>

    <button onclick="window.location.href = '/cocktail/{{ cocktail.id }}/confirm_delete/';">Delete</button>

{% endblock %}